name: CodeQL

on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - develop
  schedule:
    # run every day at 1AM
    - cron: "0 1 * * *"

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-20.04

    steps:
    -
      name: Checkout repository
      uses: actions/checkout@v3

    -
      name: Initialize CodeQL
      uses: github/codeql-action/init@v2
      with:
        languages: javascript
        config-file: ./.github/codeql/codeql-config.yml

    -
      name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v2
