name: continuous-integration

on:
  pull_request:
  push:
    branches:
      - main
      - develop
      - feature/**

env:
  CI: true

jobs:
  lint-build:
    runs-on: ubuntu-20.04
    steps:
      -
        name: Checkout code
        uses: actions/checkout@v2.3.4

      -
        uses: actions/setup-node@v2.4.1
        with:
          node-version: 16
          cache: yarn

      -
        name: Install dependencies
        run: |
          yarn install --frozen-lockfile

      -
        name: Lint
        run: |
          yarn lint

      -
        name: Build
        run: |
          yarn build

  test-local-action:
    runs-on: ubuntu-20.04

    steps:
      -
        name: Checkout code
        uses: actions/checkout@v2.3.4

      -
        name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1.6.0

      -
        name: Cache Docker layers
        uses: actions/cache@v2.1.6
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-dockerfile-${{ hashFiles('**/Dockerfile') }}
          restore-keys: |
            ${{ runner.os }}-buildx-dockerfile-
            ${{ runner.os }}-buildx-

      -
        name: Build Docker Image
        id: build-docker-image
        uses: docker/build-push-action@v2.7.0
        with:
          builder: ${{ steps.buildx.outputs.name }}
          push: false
          load: true
          tags: ghcr.io/dailydotdev/action-devcard:${{ github.sha }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new

      -
        name: Modify action.yaml
        run: |
          sed -E 's|(docker://ghcr\.io/dailydotdev/action-devcard):[0-9\.]+|\1:${{ github.sha }}|i' action.yml > local-action.yml
          mv -f local-action.yml action.yml

      -
        name: devcard.svg
        uses: ./
        with:
          devcard_id: 0b156485612243bfa39092f30071e276
          commit_filename: devcard.svg
          dryrun: true

      -
        name: devcard.png
        uses: ./
        with:
          devcard_id: 0b156485612243bfa39092f30071e276
          commit_filename: devcard.png
          dryrun: true
