name: continuous-integration

on:
  pull_request:
  push:
    branches:
      - main
      - develop
      - feature/**

env:
  CI: true

jobs:
  lint-build:
    runs-on: ubuntu-20.04
    steps:
      -
        name: Checkout code
        uses: actions/checkout@v2.3.4

      -
        uses: actions/setup-node@v2.4.0
        with:
          node-version: 16
          cache: yarn

      -
        name: Install dependencies
        run: |
          yarn install --frozen-lockfile

      -
        name: Lint
        run: |
          yarn lint

      -
        name: Build
        run: |
          yarn build

  test-local-action:
    runs-on: ubuntu-20.04
    name: "[${{ matrix.commit_filename }}] test-local-action"
    strategy:
      fail-fast: false
      matrix:
        commit_filename:
          - devcard.svg
          - devcard.png


    steps:
      -
        name: Checkout code
        uses: actions/checkout@v2.3.4

      - name: Modify action.yaml
        run: |
          sed -E 's|docker://ghcr.io/dailydotdev/action-devcard:[0-9\.]+|Dockerfile|i' action.yml > local-action.yml
          mv -f local-action.yml action.yml

      -
        name: Run location action
        uses: ./
        with:
          devcard_id: 0b156485612243bfa39092f30071e276
          commit_filename: ${{ matrix.commit_filename }}
          dryrun: true
