name: continuous-integration

on:
  pull_request:
  push:
    branches:
      - main
      - develop
      - feature/**

env:
  CI: true

jobs:
  lint-build-test:
    runs-on: ubuntu-20.04
    steps:
      -
        name: Checkout code
        uses: actions/checkout@v3.4.0

      -
        uses: actions/setup-node@v3.7.0
        with:
          node-version: 16
          cache: yarn

      - name: Cache node_modules
        id: cache-node_modules
        uses: actions/cache@v3.3.2
        with:
          path: node_modules
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node_modules-
            ${{ runner.os }}-

      -
        name: Install dependencies
        if: steps.cache-node_modules.outputs.cache-hit != 'true'
        run: |
          yarn install --frozen-lockfile

      -
        name: Lint
        run: |
          yarn lint

      -
        name: Build
        run: |
          yarn build

      -
        name: devcard.svg
        uses: ./
        with:
          devcard_id: 0b156485612243bfa39092f30071e276
          commit_filename: devcard.svg
          commit_branch: main
          dryrun: true

      -
        name: devcard.png
        uses: ./
        with:
          devcard_id: 0b156485612243bfa39092f30071e276
          commit_filename: devcard.png
          commit_branch: main
          dryrun: true

  dependabot:
    needs:
      - lint-build-test
    uses: ./.github/workflows/dependabot-automerge.yaml
